body{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'main font';
    background-image: url(../img/1111.png);
}

h1{
    text-align: center;
}

.levels{
    padding-top: 10px;
    color:white;
    text-align: center;
}

.button{
    margin-top: 10px;
    padding: 10px;
    background-color: #c4729b;
    font-weight: bold;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color: #cf478b;
}

.smiley{
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}

.mines{
    padding: 25px;
    size: 35px;
    display: block;
    text-align: center;
}

.mines span{
    font-size: 25px;
    font-weight: bold;
}

.timer{
    display:block;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

.board {
    text-align: center;
    transition: .5s;
    display:block;
    background-color: #7e85bd;
}

.open{
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 75%;
    background-color: #aeabd8;
    color:white;
}

.cell{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.lives{
    size: 35px;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.hints{
    size: 35px;
    display: block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.revealed{
    background-color: #eccb8e;
}

.safeclicked{
    background-color: #ece8de;
}

.numOfClicks{
    display: block;
    text-align: center;
    font-size: 15px;
}

.score{
    size: 35px;
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.safeclick{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #c4729b;
    font-weight: bold;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
}

.safeclick:hover{
    background-color: #cf478b;
}

.undo{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #c4729b;
    font-weight: bold;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.undo:hover{
    background-color: #ad4a7c;
}

.safeClickBtn{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.numOfClicks{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.num{
    margin-right: 5px;
}

.bonusBtns{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@font-face{
    font-family: 'main font';
    src:url(../font/Rubik-Regular.woff) format("woff");
    font-style: normal;
}

